html {
    font-family:sans-serif;
    font-size: 13px;
}

nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
    

}

.navbar-item {
    color: black;   
    display: block;
    line-height: 1.5;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: 1.5px;
}

#photo { 
    padding: 4px;
    background-color: white;
    text-align: center;
    margin: 4vw;
  }
#charlie-photo {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    justify-content: center;  
    position: relative;
    top: 1vw;
  }

  #name {
      font-size: 2rem; 
      margin-left: 7vw;
  }
  #intro {
    justify-content: center;
    font-size: 1.5rem; 
    margin-left: 5vw;
  }

  #Skills {
    display: flex;
    justify-content: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .section-title {
    font-weight: 700;
    letter-spacing: 2px;
  }

  .skills-label {
    font-weight: 700;
    color: black;
    text-transform: uppercase;
  }
  .skills-item {
    margin: 3px 0;
    font-size: .9rem;
  }

  section {
    margin: 10vw;
    margin-bottom: 10vw;
  }

  #featured-projects {
    display: flex;
    font-weight: 700;
    letter-spacing: 2px;
}

figure.project-pic { 
  width: 500px;
}
  .project-pic {
    max-width: 500px;
    margin: 0;
    
}

  .project-pic a {
    display: block
  }
  .project-pic img {
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
  }

.project-caption {
  width: 125px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  margin-left: 30px

}

.project-name {
  margin-bottom: 10px;
  font-weight: 700;
}

.project-name p {
  font-size: .85rem;
  line-height: 1.3
}